.Cadastro h2{
    padding:2em 0;
}

.Cadastro form{
    margin: auto;
    width: 50%;;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 40vh;
}

.Cadastro input{
    width : 90%;
    margin:0.3em 0;
    padding: 0.3em 0.5em;
}

.submit_cadastro{
    width:110%;
}

#texto_erro{
    color:red;
    font-weight: bold;
}