*{
    margin : 0;
    padding: 0;
}

.Categorias main{
    padding-top: 5em;
}

.Categorias h2{
    margin:2em 0;
    text-align: center;
}

.tabela{
    width: 60%;
    margin: 1em auto;
    box-shadow: #00000080 1px 1px 20px;
    text-align: center;
    background-color: #e7dfe0;
}


.tabela thead{
    background-color: #A60313;
    color: #fff;
}

.tabela td{
    padding:0.5em;
    padding-left: 1em;
    background-color: #fff;
}


.linha_cabecalho_tabela{
    height:1.6em;
}

.Plataformas h2{
    text-align: center;
    padding: 2em 0;
}

.form_categoria-plataforma{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: auto;
}

.form_categoria-plataforma input{
    width:100%;
}

